<header class="header">
  <nav>
    <div id="nav-title">
      <a href="/">joice tang</a>
    </div>
    
    <ul id="main-links">
      <li><a class="main-links" target="_blank" href="https://docs.google.com/document/d/e/2PACX-1vTgONXGfRKWeQWe67VkkZOkAGZvK2vVhwbZXAZg1Lug2I42ZBrvBYxcLc7ZwWIH7YvaJZArIbXPTSIK/pub">cv</a></li>
      <li><a class="main-links" href="/failure">failure resume</a></li>
      <li><a class="main-links" href="/papers">publications / writing</a></li>
    </ul>
  </nav>
</header>