@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
$main-font-color: black;
$bg: white;
$accent-color: #78aa55;

html, body{
    font-family: 'Work Sans', sans-serif;
    background-color: $bg;
    margin: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

a {
    font-size: 20px;
    color: $accent-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: $accent-color;
    text-decoration-thickness: 3px;
} 

p {
    height: auto;
    font-size: 19px;
    color: $main-font-color;
    line-height: 1.5;

    a {
        font-size: 18px;
    }
}

h1 {
    font-family: 'Lexend Deca';
    height: auto;
    font-size: 75px;
    color: $accent-color;
    font-weight: bold;
}

h2 {
    font-family: 'Lexend Deca';
    font-size: 60px;
    color: $main-font-color;
    font-weight: bold;
}

h3 {
    font-family: 'Lexend Deca';
    font-size: 32px;
    color: $accent-color;
    margin-bottom: 0px;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    line-height: 1.4;
}

header {
    position: relative;
    width: 100%;
    margin-top: auto;
}

nav {
    position: absolute;
    margin-left: 20px;
    display: flex;
    width: 100%;
    a {
        font-size: 20px;
        font-weight: normal;
    }

    a:hover {
        text-decoration: none;
        color: $main-font-color;
    }
}

#left-header {
    position: relative
}

#main-links {
    display: flex;
    margin-left: auto;
    margin-top: 0;
}

.main-links {
    margin-right: 50px;
    float: right;
    font-weight: bold;
}

ul {
    list-style: none;
}


details {
    margin-top: 5pt;

    summary {
        font-size: 18px;
    }

    p {
        font-size: 17px;
    }
}

#main {
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 5%;
}

.profile-pic {
    width: 190px;
    height: 190px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic img {
    height: 200px;
}

#intro {
    font-family: 'Work Sans', sans-serif;
    align-content: center;
    background-color: $bg;
    text-align: left;
}

#title {
    margin: 0;
}

.subtitle {
    color: $accent-color;
    margin-top: -15px;
    margin-bottom: 15px;
    font-style: italic;
}

.date {
    margin-top: 0px;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

footer {
    text-align: left;
    padding-top: clamp(0px, 5vh, 5%);
    margin-bottom: 20px;
    margin-left: 300px;

    .footer {
        font-size: 12px;
    }
}

#socials {
    display: inline-flex;
}

.socials {
    margin-right: 10px;
    width: 24px;
    height: 24px;
    fill: black;
    
}

.socials:hover {
    fill: $accent-color;
}

@media (max-width: 1280px) {

    #main {
        margin-left: 100px;
        margin-right: 100px;
    }

    footer {
        margin-left: 100px;
    }

    nav {
        margin-left: 25px;
    }
}

@media (max-width: 1100px) {
    #main {
        margin-left: 50px;
        margin-right: 50px;
    }

    footer {
        margin-left: 50px;
    }

    nav {
        position: static;
    }
}

@media (max-width: 800px) {

    a {
        font-size: 30px;
    }

    footer {
        display: none;
    }

    .main-links {
        display: block;
    }
}