@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
$main-font-color: #ffffff;
$heading-font-color: white;
$bg: white;
$accent-color: #ff9624;

html, body{
    font-family: 'Poppins', sans-serif;
    background-color: $bg;
    width: 100%;
    height: 100%;
}

#intro {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    background-color: $bg;
    text-align: center;
    padding-top: 100px;

    #title {
        height: auto;
        font-size: 75px;
        color: $accent-color;
        text-align: left;
        font-weight: bold;
    }

    #subtitle {
        height: auto;
        font-size: 20px;
        color: $main-font-color;
    }

    #internship {
        height: auto;
        font-size: 14px;
    }

}