@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$main-font-color: black;
$bg: white;
$accent-color: #9Dc183;

html, body{
    font-family: 'Poppins', sans-serif;
    background-color: $bg;
}

a {
    font-size: 20px;
    font-weight: bold;
    color: $accent-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: $accent-color;
    text-decoration-thickness: 3px;
} 

p {
    height: auto;
    font-size: 18px;
    color: $main-font-color;

    a {
        font-size: 18px;
    }
}

h1 {
    height: auto;
    font-size: 75px;
    color: $accent-color;
    font-weight: bold;
}

h2 {
    font-size: 60px;
    color: $main-font-color;
    font-weight: bold;
}

h3 {
    font-size: 32px;
    color: $accent-color;
    margin: 0;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

nav {
    position: absolute;
    margin-left: 100px;
    a {
        font-size: 60px;
        font-weight: normal;
    }

    a:hover {
        text-decoration: none;
        color: $main-font-color;
    }
}

#header {
    margin-left: 300px;
    margin-right: 300px;
}

#intro {
    font-family: 'Poppins', sans-serif;
    align-content: center;
    background-color: $bg;
    text-align: left;
    padding-top: 125px;
}

.subtitle {
    color: $accent-color;
    margin-top: 0;
    font-style: italic;
}

#links {
    display: flex-wrap;
    margin-top: 40px;
}

.main-links {
    margin-right: 50px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    .footer {
        font-size: 12px;
    }
}

df-messenger {
    --df-messenger-bot-message: white;
    --df-messenger-button-titlebar-color: #9Dc183;
    --df-messenger-chat-background-color: #fafafa;
    --df-messenger-font-color: black;
    --df-messenger-send-icon: #9Dc183;
    --df-messenger-user-message: #9Dc183;
    --df-messenger-chip-border-color:#9Dc183;
}

@media (max-width: 1280px) {
    #intro {
        padding-top: 50px;
    }

    #header {
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 100px;
    }

    nav {
        margin-left: 25px;
    }
}

@media (max-width: 1100px) {
    #header {
        margin-left: 50px;
        margin-right: 50px;
    }

    nav {
        position: static;
    }
}

@media (max-width: 800px) {

    a {
        font-size: 30px;
    }

    footer {
        display: none;
    }

    .main-links {
        display: block;
    }
}